<div class="container-fluid sidebars">
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-lg-10 col-md-10">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let slide of data?.information?.slides">
          <img src="{{slide.image}}" alt="Random first slide">
          <div class="carousel-caption">
            <h3>{{slide?.title}}</h3>
            <p>{{slide?.description}}</p>
          </div>
        </ng-template>
      </ngb-carousel>
      <button class="btn-lg btn-primary">Next</button>
    </div>
  </div>
</div>
