<div class="container-fluid sidebars">
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-lg-10 col-md-10">
      <!--<ngb-carousel>
        <ng-template ngbSlide *ngFor="let slide of data?.information?.slides">
          <img src="{{slide.image}}" alt="Random first slide">
          <div class="carousel-caption">
            <h3>{{slide?.title}}</h3>
            <p>{{slide?.description}}</p>
          </div>
        </ng-template>
      </ngb-carousel>
      <button class="btn-lg btn-primary">Next</button>-->
      <ngb-tabset #t="ngbTabset" type="pills" [justify]="currentJustify">
        <ngb-tab *ngFor="let slide of data?.information?.slides; let i = index" id="tab-selectbyid{{i}}" title="{{slide?.title}}">
          <ng-template ngbTabContent>
            <h3>{{slide?.title}}</h3>
            <img src="{{slide?.image}}" alt="image">
            <p>{{slide?.description}}</p>
            <p>
              <button class="btn btn-primary" (click)="t.select('tab-selectbyid'+(i-1).toString())" *ngIf="i>0"><i class="fa fa-arrow-left"></i> Previous</button>
              <button class="btn btn-primary" (click)="t.select('tab-selectbyid'+(i+1).toString())" *ngIf="i<data?.information?.slides?.length-1">Next <i class="fa fa-arrow-right"></i></button>
            </p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
