<!--<div class="contaniner-fluid navigationbar">
  <div class="row">
    <nav class="navbar navbar-expand-lg">
      <div class="row">
        <div class="col-md-12 col-xl-12 col-lg-12">
            <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
              <i class="fa fa-bars light-purple-text fa-2x"><img src="assets/symbol.png" width="40" height="40" />
      <img src="assets/signature2.png" width="240" height="40" /></i>
            </button>
          <div id="collapseExample" [ngbCollapse]="isCollapsed">
            <ul class="list-group">
              <li class="list-group-item" routerLink="/modules" routerLinkActive="activeLink">Modules</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>-->
<nav class="navbar navbar-expand-lg navigationbar">
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    <i class="fa fa-bars text-purple fa-2x"></i>
  </button>&nbsp;
  <a class="navbar-brand" routerLink="/modules"><img src="assets/signature2.png" width="210" height="40"></a>
</nav>
<div id="collapseExample" [ngbCollapse]="isCollapsed" class="navigationbar">
  <div class="list-group bg-light">
    <a class="list-group-item list-group-item-action" routerLink="/modules" routerLinkActive="activeLink"><i class="fa fa-list-alt fa-xl"></i> Modules</a>
    <a routerLink="/intro" routerLinkActive="activeLink" class="list-group-item list-group-item-action"><i class="fa fa-book fa-xl"></i> Resume Course</a>
    <a routerLink="/play" routerLinkActive="activeLink" class="list-group-item list-group-item-action"><i class="fa fa-desktop fa-xl"></i> Simulation</a>
  </div>
</div>
