<app-menu></app-menu>
<div class="card text-center animated fadeIn">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
         <a class="nav-link" role="button">Sort </a>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-primary" (click)="param='title'" role="button"><i class="fa fa-th-list"></i> All Courses</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-primary" (click)="param='timeSpent'"><i class="fa fa-retweet"></i> Shortest Courses</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-primary" (click)="param='life'"><i class="fa fa-life-ring"></i> Life-Saving Courses</button>
      </li>
    </ul>
  </div>
  <div class="card-body back animated fadeIn">
    <img src="assets/symbol.png" width="150" height="150"/>
    <h1 class="card-title">Welcome to Healthcare Learning</h1>
    <p class="card-text">Select a course and start learning new skills.</p>
    <a href="#" class="btn btn-primary btn-lg" href="#/intro">View newest course</a>
  </div>
</div>
<br/>
<div class="container animated fadeIn">
  <div class="row">
  <div class="card-columns">
    <!--class="col-lg-4 col-md-6 col-sm-6 col-xs-12"--> 
   <!-- <div > -->
      <div class="card animated fadeIn" *ngFor="let m of data?.modules | orderBy: param">
        <img class="card-img-top" src="{{m?.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><strong>{{m?.title | uppercase}}</strong> <i class="fa fa-heart float-right"></i></h5>
          <p class="card-text">{{m?.description}}</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-md float-left" href="#/{{m.url}}" role="button">View Course <i class="fa fa-arrow-right"></i></a>&nbsp;
          <span class="text-muted float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> ~{{m?.timeSpent}}min</span>
          <p></p>
        </div>
      </div>
   <!-- </div> -->
  </div>
  </div>
</div>
