<app-menu></app-menu>
<div class="container-fluid sidebars">
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-lg-10 col-md-10 animated fadeIn">
      <!--<h1>{{data?.intro?.title}}</h1>
      <img src="{{data?.intro?.image}}" />
      <p>{{data?.intro?.info}}</p>
      <button class="btn-lg btn-primary">Begin</button>-->
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">{{data?.intro?.title}}</h1>
          <p class="lead">{{data?.intro?.info}}</p>
          <div class="text-muted">
            <a routerLink="/learn" class="btn btn-primary btn-lg">Begin <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div *ngFor="let s of data?.intro?.skills" class="col-lg-6 col-md-6">
            <i class="{{s?.icon}} fa-3x text-center"></i>
            <h2 class="text-left m-4"> {{s?.name}}</h2>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <h6 class="m-4">{{data?.intro?.subtext}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
