<div class="main">
<a href="/intro" role="button">Intro</a>
<a href="/learn" role="button">Learn</a>
<a href="/try" role="button">Try</a>
<a href="/play" role="button">Play</a>

<div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
          <router-outlet></router-outlet>
      </div>
    </div>
</div>
  <!--<app-info [title]="data?.intro?.title" [description]="data?.intro?.info"></app-info>
  <app-learn [heading]="data?.information?.title" [slides]="data?.information?.slides"></app-learn>
  <app-graphic [heading]="data?.identify?.title" [info]="data?.identify?.instructions" [background]="data?.identify?.background" [components]="data?.identify?.components"></app-graphic>-->
</div>

