<div class="main">
  <div class="contaniner-fluid navigationbar">
    <div class="row">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" routerLink="/"><img src="assets/symbol.png" width="50" height="50"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/modules" routerLinkActive="activeLink">Modules</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#" routerLinkActive="activeLink">Account</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

        <router-outlet>
        </router-outlet>
  <!--<app-info [title]="data?.intro?.title" [description]="data?.intro?.info"></app-info>
  <app-learn [heading]="data?.information?.title" [slides]="data?.information?.slides"></app-learn>
  <app-graphic [heading]="data?.identify?.title" [info]="data?.identify?.instructions" [background]="data?.identify?.background" [components]="data?.identify?.components"></app-graphic>-->
</div>
