<div class="main">
  <div class="contaniner-fluid navigationbar">
    <div class="row">
      <nav class="navbar navbar-expand-lg">
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle><img src="assets/symbol.png" width="50" height="50" /></button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" routerLink="/" routerLinkActive="activeLink">Home</button>
                <button class="dropdown-item" routerLink="/modules" routerLinkActive="activeLink">Modules</button>
                <button class="dropdown-item" routerLink="#" routerLinkActive="activeLink">Account</button>
              </div>
            </div>
          </div>
        </div>
        <img src="assets/signature2.png" width="275" height="50" />
      </nav>
    </div>
  </div>
  <router-outlet>
  </router-outlet>
  <!--<app-info [title]="data?.intro?.title" [description]="data?.intro?.info"></app-info>
  <app-learn [heading]="data?.information?.title" [slides]="data?.information?.slides"></app-learn>
  <app-graphic [heading]="data?.identify?.title" [info]="data?.identify?.instructions" [background]="data?.identify?.background" [components]="data?.identify?.components"></app-graphic>-->
</div>
