<app-menu></app-menu>
<div class="container-fluid sidebars animated fadeIn">
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-lg-10 col-md-10">
      <div class="jumbotron jumbotron-fluid" ngSyle="{'background': 'url('+ slide?.image +')'}">
        <div class="container">
          <h1 class="display-3">Blood Pressure Simulation</h1>
          <p class="lead">Now its time for you to try taking blood pressure on your own.</p>
        </div>
      </div>
      <iframe src="http://spdevstudios.com/bloodpressure/" width="720" height="566"></iframe>
    </div>
  </div>
</div>
