/* You can add global styles to this file, and also import other style files */

/* remove blue border and shadow */
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

/* hide arrow by dropdown*/
.dropdown-toggle::after {
    display:none
}
.btn-primary, .btn:active, .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show > .btn-primary.dropdown-toggle{
	background: #4D186D;
	border: 1px solid #4D186D;
	transition: hover .2s linear;
	outline: none;
	box-shadow: none;
}

.btn-primary:hover, button:focus{
	background: #662D91;
	border: 1px solid #662D91;
	cursor: pointer;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
	background: #431E75;
	border: 1px solid #431E75;
}


.container-fluid{
	padding-left: 0;
}

.list-group-item, .list-group-item:first-child, .list-group-item:last-child{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.light-purple-text{
	color: #9777B5;
}

a{
	color: #212529;
}

a:hover{
	color: #662D91;
}

.bg-primary{
	background-color: #431E75 !important;
	color: #9777B5;
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}

.col-lg-10, .col-md-10, .col-md-2, .col-md-2{
	padding: 0px;
}


