.horizontals{
	/*background: #431e75;
	height: 100vh;*/
}

.list-group{
	padding: 0px;
}

.sidebars{
	padding: 0px;
}

.active{
	background: #431e75;
	border: 1px solid #431e75;
}

.list-group a{
	text-align: center;
	font-size: 150%;
}