<div class="horizontals">
        <div class="list-group">
          <a routerLink="/intro" class="list-group-item list-group-item-action" routerLinkActive="active">
    Welcome
      </a>
          <a routerLink="/learn" class="list-group-item list-group-item-action" routerLinkActive="active">Learn</a>
          <a routerLink="/try" class="list-group-item list-group-item-action" routerLinkActive="active">Know</a>
          <a routerLink="/play" class="list-group-item list-group-item-action" routerLinkActive="active">Play</a>
        </div>
</div>
