<!--<div class="horizontals">
  <div class="list-group">
    <a routerLink="/intro" class="list-group-item list-group-item-action" routerLinkActive="active">
          	<img src="assets/icons/welcome.png" width="90" height="90"/><br/>
    Start
      </a>
    <a routerLink="/learn" class="list-group-item list-group-item-action" routerLinkActive="active"><img src="assets/icons/learn.png" width="90" height="90"/><br/>Understand</a>
    <a routerLink="/try" class="list-group-item list-group-item-action" routerLinkActive="active"><img src="assets/icons/know.png" width="90" height="90"/><br/>Know</a>
    <a routerLink="/play" class="list-group-item list-group-item-action" routerLinkActive="active"><img src="assets/icons/play.png" width="90" height="90"/><br/>Play</a>
  </div>
</div>-->
<!--desktop-->
<div class="wrapper d-lg-block d-xl-block d-md-block d-sm-none">
  <div class="btn-group-vertical" role="group" aria-label="Menu in Course">
    <a routerLink="/intro" class="btn btn-primary btn-lg" routerLinkActive="active" role="button">
          	<img src="assets/icons/welcome.png" width="90" height="90"/><br/>
    Start
      </a>
    <a routerLink="/learn" class="btn btn-primary btn-lg" routerLinkActive="active" role="button"><img src="assets/icons/learn.png" width="90" height="90"/><br/>Understand</a>
    <a routerLink="/try" class="btn btn-primary btn-lg" routerLinkActive="active" role="button"><img src="assets/icons/know.png" width="90" height="90"/><br/>Know</a>
    <a routerLink="/play" class="btn btn-primary btn-lg" routerLinkActive="active" role="button"><img src="assets/icons/play.png" width="90" height="90"/><br/>Play</a>
  </div>
</div>

<!-- mobile -->
<div class="wrapper2 d-lg-none d-xl-none d-md-none d-sm-block">
  <div class="btn-group" role="group" aria-label="Menu in Course">
    <a routerLink="/intro" class="btn btn-primary btn-lg" routerLinkActive="active" role="button">
          	<img src="assets/icons/welcome.png" width="30" height="30"/>
    Start
      </a>
    <a routerLink="/learn" class="btn btn-primary btn-lg" routerLinkActive="active" role="button"><img src="assets/icons/learn.png" width="30" height="30"/>Understand</a>
    <a routerLink="/try" class="btn btn-primary btn-lg" routerLinkActive="active" role="button"><img src="assets/icons/know.png" width="30" height="30"/>Know</a>
    <a routerLink="/play" class="btn btn-primary btn-lg" routerLinkActive="active" role="button"><img src="assets/icons/play.png" width="30" height="30"/>Play</a>
  </div>
</div>
