.horizontals{
	/*background: #431e75;
	height: 100vh;*/
}

.list-group{
	padding: 0px;
}

.sidebars{
	padding: 0px;
}

.active{
	background: #654994 !important;
	border: 1px solid #654994 !important;
}

.btn-primary{
	background: #431E75;
	border: 1px solid #431E75;
}

.list-group a{
	text-align: center;
	font-size: 150%;
}

.wrapper{
	min-height: 1280px;
	height: 100%;
	width: auto;
	background: #431E75;
}

.wrapper2{
	width: 100%;
	height: auto;
	background: #431E75;
}

@media screen and (max-width: 574px){
	.wrapper{
		display: none;
	}

	.wrapper2{
		display: block;
	}
  .btn-group{
  	display: block;
  }

}


.btn-group-vertical{
	width: 100%;
}