<div class="horizontals">
        <div class="list-group">
          <a routerLink="/intro" class="list-group-item list-group-item-action" routerLinkActive="active">
          	<img src="assets/symbol.png" width="50" height="50"/><br/>
    Start
      </a>
          <a routerLink="/learn" class="list-group-item list-group-item-action" routerLinkActive="active"><img src="assets/symbol.png" width="50" height="50"/><br/>Learn</a>
          <a routerLink="/try" class="list-group-item list-group-item-action" routerLinkActive="active"><img src="assets/symbol.png" width="50" height="50"/><br/>Know</a>
          <a routerLink="/play" class="list-group-item list-group-item-action" routerLinkActive="active"><img src="assets/symbol.png" width="50" height="50"/><br/>Play</a>
        </div>
</div>
